/* Titel */


.centerQr{
    display: flex;
    width: 400px;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.centerQr > h1 {
    padding: 50px 0;
}

img {
    display: block;
}