/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    /* position: relative; */
    font-family: 'Roboto', sans-serif;
    /* background-image: url('../images/groovepaper.png'); */
    background-color: black;
    height: 100%;
}
main {
    position: absolute;
    top: 100px;
}

h2{
    font-size: 2rem;
}

h1{
    font-size: 3rem;
}

/* a {
    text-decoration: none;
} */
a:hover {
    text-decoration: none;
}