main {
    width: 100%;
    color: white;
}

main section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

span {
    color:#25a7a2;
}

/* Top section */

.topSection {
    display: flex;
    justify-content: left;
    /* display: flex;
    justify-content:space-evenly; 
    align-items: center; */
    height: 400px;
    width: 100%;
    margin-bottom: 40px;
    padding-left: 10px;

}

.topSection > div {
    width: 55%;
}

.topSection > div > h1 {
    font-size: 2rem;
    line-height: 30px;
}

.topSection  button {
    margin-top: 40px;
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: .9rem;
    font-weight: 800;
    background: linear-gradient(to right, black, #25a7a2);
}

.topSection img {
    display: block;
    position: relative;
    bottom: 20px;
    left: 0;
    width: 60%;
}

.topSection button:hover {
    transform: scale(.9);
}

/* animation */

/* .slide-right {
    position: absolute;
    animation: slide-right 3s linear;
    animation-fill-mode: forwards;
}

@keyframes slide-right {
    0% { 
        transform: translateX(200%); 		
        }
    100% { 
        transform: translateX(0%); 
    }
} */

/* skills section */

/* icon circle */

.middleSection {
    display: block;
    /* margin: 50px auto; */
}

.middleSection ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
}

.middleSection  li {
    font-size: 2.5rem;
    display: block;
    position: absolute;
    color:#25a7a2;
}

.middleSection > ul .fa-car{
    color: white;
}

.middleSection > ul {
    animation-play-state: paused;
}

.deg0 {
    transform: translate(80px);
    animation: deg0 20s linear infinite;
}

.deg90 {
    transform: rotate(-90deg) translate(80px) rotate(90deg);
    animation: deg90 20s linear infinite;
}

.deg180{
    transform: rotate(-180deg) translate(80px) rotate(180deg);
    animation: deg180 20s linear infinite;
}

.deg270{
    transform: rotate(90deg) translate(80px) rotate(-90deg);
    animation: deg270 20s linear infinite;
}


@keyframes deg0 {
    from { transform: rotate(0deg) translateX(80px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(80px) rotate(-360deg); }
}
@keyframes deg90 {
    from { transform: rotate(-90deg) translateX(80px) rotate(90deg); }
    to { transform: rotate(270deg) translateX(80px) rotate(-270deg); }
}
@keyframes deg180 {
    from { transform: rotate(-180deg) translateX(80px) rotate(180deg); }
    to   { transform: rotate(180deg) translateX(80px) rotate(-180deg); }
}
@keyframes deg270 {
    from { transform: rotate(90deg) translateX(80px) rotate(-90deg); }
    to   { transform: rotate(450deg) translateX(80px) rotate(-450deg); }
}

/* skills section right */

.middleSection {
    /* display: flex; */
    /* height: 400px; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

.middleSection div {
    width: 85%;
    margin: auto;
    text-align: center;
    line-height: 40px;
    /* margin: auto 10px; */
}

.middleSection h2 {
    font-size: 1.5rem;
}

/* Divider */

.divider{
    margin: auto;
    width: 90%;
    border: 2px solid rgba(0, 128, 128, 0.335);
    border-radius: 20px;
    margin: 75px auto;
}

/* profile Section */

.profileSection {
    display: block;
}

.profileSection div {
    width: 85%;
    margin: auto;
}

.profileSection h2{
    width: 100%;
    line-height: 40px;
    font-size: 1.5rem;
    text-align: center;
}

.profileSection img {
    display: block;
    margin: 40px auto;
    width: 200px;
    border-radius: 20px;
}

/* QR Section */
.qrSection{
    height: 400px;
    display: block;
}

.qrSection > img {
    display: block;
    width: 150px;
    margin: 40px auto;
}

.qrSection div {
    width: 85%;
    margin: auto;
}

.qrSection div h2 {
    font-size: 1.5rem;
    line-height: 40px;
    text-align: center;
}

/* sign up section */

.signUp {
    height: 100px;
}

.signUp button {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, black, #25a7a2);
    color: white;
    font-size: 1rem;
    font-weight: 700;
}