

#sidebarMenu {
    display: flex;
    justify-content: center;
    height: 100%;
    position: fixed;
    right: 0;
    width: 200px;
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background: black;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.sidebarMenuInner li:hover{
    color: rgb(37, 167, 162);
}


#sidebarMenu.show {
    transform: translateX(0);
}